/* Nav-bar */
.nav-bar {
    position: sticky;
    top: 0;
    z-index: 40;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* SideNav */
.side__nav {
    background-color: #1D232C;
    z-index: 100;
    transition: all 1s ease;
}
/* Container */
.container {
    width: 98%;
    margin: auto;
}

/* Contact Section */
.contact {
    background-color: #1D232C;
    color: white;
    margin: 0 auto;
    border-radius: 30px;
    width: 80vw;
    padding: 5vw;
}

.contact__form input {
    width: 90%;
    height: 60px;
    margin: 20px 0;
    border-radius: 10px;
}

.contact__textarea{
    margin: 20px 0;
    width: 90%;
    border-radius: 10px;
    height: 15vw;
}

.contact__submit-button {
    background-color: #0056B3;
    color: white;
    width: 10%;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}
/* News Section */
.news__input {
    border: solid #1D232C;
    margin-top: 20px;
    padding: 5px;
    width: 80%;
}

.news__button {
    background-color: #1D232C;
    color: white;
    margin-top: 15px;
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
}

/* Footer Section */
.footer {
    margin-top: 50px;
    padding: 30px;
    background-color: #1D232C;
}
.footer__container {
    width: 90%;
}
.icons i{
    font-weight: 400;
}


/* Responsiveness */
@media screen and (max-width: 800px) {
    body{
        font-size: 10px;
        width: 100%;
    }
    
    .slider__right-button {
        top: 45%;
    }

    /* Contact Section */
    .contact__submit-button {
        width: 15vw;
    }
    /* News Section */
    .news__section h2 {
        font-size: x-large;
    }
    .news__section p {
        font-size: large;
    }
    .news__button {
        font-size: large;
        padding: 10px;
    }
    /* Footer Section */
    .footer__container h1{
        font-size: xx-large;
    }
    .footer__container p{
        font-size: large;
    }
}

@media screen and (max-width: 640px) {
    .container {
        width: 95%;
    }
    .offer__bar {
        font-size: larger;
    }
    .nav__list {
        display: none;
    }

    /* Contact Section */
    .contact h2 {
        font-size: x-large;
    }
    .contact__form {
        padding: 3vw;
    }
    .contact__submit-button {
        width: 15vw;
    }

    /* News Section */
    .news__section h2 {
        font-size: large;
    }
    .news__section p {
        font-size: small;
    }
    .news__button {
        font-size: small;
        padding: 10px;
    }

    /* Footer Section */
    .footer__container h1{
        font-size: x-large;
    }
    .footer__container p{
        font-size: small;
    }
}